<!DOCTYPE html>
<html lang="pt-br">
<head>



    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/bundler/bootstrap.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/login.css")" />
    @RenderSection("Estilos", false)
    <style>
        input {
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <div id="content" class="container-fluid">
        @RenderBody()
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js" asp-fallback-src="~/bundler/js/jquery.min.js" asp-fallback-test="window.jQuery" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" asp-fallback-src="~/bundler/js/bootstrap.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" crossorigin="anonymous"></script>
    <script src="~/js/service-worker.js"></script>
    <script>
        function OpenSenha() {
            window.open('/Account/ForgotPassword', "MsgWindow", "width=600,height=400")
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
